# General project related exclusions
.DS_Store
.idea
*.pyc
/dist
/examples/models/k2a/data/plots
/src/diffpssi.egg-info
/examples/models/custom_multi_machine/data/plots
/examples/models/ieee_9bus/data/plots
/examples/models/ibb_model/data/plots
/examples/models/k2a_manual/data/plots

# Any Python virtual environment and developing stuff
.vscode/
.mypy_cache/
.pytest_cache/
__pycache__/
.tox
.venv
venv
env
.github/copilot-instructions.md
/development_files/
/private_examples/

# Ignore all data files and plots other than validation data
*.png
*.pdf
*.csv